In [4]:
import numpy as np
inf=float("inf")

import pandas as pd

import matplotlib.pyplot as plt
plt.style.use('ggplot')

import scipy.stats as st

import stablerank.srank as sr
import stablerank.geometry_objects_2020 as ge

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import _pickle as pickle

from ripser import ripser
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster

from PIL import Image
from sklearn import svm

### Import Pre-Computed PCNIF

In [54]:
# Read in dataframes
df_1=pd.read_csv("Results/happy_80images_H1.csv", sep=',')
df_2=pd.read_csv("Results/angry_80images_H1.csv", sep=',')

# Set up empty arrays
pcfs_1 = []
pcfs_2 = []

# Read in pcnifs
l = len(df_1)

for i in range(0,l):
    pcfs_1.append(sr.Pcnif(df_1["content"][i]))
    pcfs_2.append(sr.Pcnif(df_1["content"][i]))

In [17]:
def my_kernel(X, Y):
    return X.interleaving_distance(Y)

In [55]:
df_1

    Unnamed: 0  old index                                            content
0            0      31958  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
1            1       1749  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
2            2      12081  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
3            3       4115  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
4            4      18289  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
..         ...        ...                                                ...
75          75      19381  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
76          76      27155  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
77          77       1773  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
78          78       7613  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...
79          79      32560  [[0.00000000e+00 6.83593750e-02 7.41262436e-02...

[80 rows x 3 columns]

In [ ]:
clf.fit(X, Y)